* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  padding: 16px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
}
.grid-item {
  background-color: rgb(174, 174, 174);
  padding: 2.5rem;
  color: #fff;
  font-weight: 600;
  font-size: 2rem;
  border-radius: 15px;
}
.grid-item.selected {
  background-color: rgb(10, 96, 255);
}
